<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-3">
      Type
      <select
        class="form-control form-control-sm dropselect form-control1"
        name="type"
        ngModel
        #type="ngModel"
        (change)="selectClass($event)"
        required
      >
        <option value="" selected>Select</option>
        <option *ngFor="let Exam_type of Exam_types" value="{{ Exam_type }}">
          {{ Exam_type }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      Class
      <select
        class="form-control form-control-sm dropselect"
        name="class"
        ngModel
        #class="ngModel"
        (change)="selectSubject($event)"
        required
      >
        <option value="" selected>Select</option>
        <option *ngFor="let Class of Classes" value="{{ Class }}">
          {{ Class }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      Language <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="checkbox"
            name="English"
            ngModel
            #English="ngModel"
          />English
        </div>
        <div class="col-md-6">
          <input type="checkbox" name="Tamil" ngModel #Tamil="ngModel" />Tamil
        </div>
      </div>
    </div>
    <div class="col-md-3">
      Subject
      <select
        class="form-control form-control-sm dropselect"
        name="subject"
        (change)="selectChapter($event)"
        ngModel
        #subject="ngModel"
        required
      >
        <option value="" selected>Select</option>
        <option *ngFor="let Subject of Subjects" value="{{ Subject }}">
          {{ Subject }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      Question Level
      <select
        class="form-control form-control-sm dropselect"
        name="level"
        ngModel
        #level="ngModel"
        required
      >
        <option value="" selected>Select</option>
        <option *ngFor="let Level of Levels" value="{{ Level }}">
          {{ Level }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      Question Type
      <select
        class="form-control form-control-sm dropselect"
        name="qtype"
        ngModel
        #qtype="ngModel"
        required
      >
        <option value="" selected>Select</option>
        <option
          *ngFor="let Question_type of Question_types"
          value="{{ Question_type.value }}"
        >
          {{ Question_type.title }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      Chapter
      <select
        class="form-control form-control-sm dropselect"
        name="chapter"
        ngModel
        #chapter="ngModel"
        (change)="selectTopic($event)"
        required
      >
        <option value="" selected>Select</option>
        <option *ngFor="let Chapter of Chapters" value="{{ Chapter.chapter }}">
          {{ Chapter.chapter }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      Topic
      <select
        class="form-control form-control-sm dropselect"
        name="topic"
        ngModel
        #topic="ngModel"
        required
      >
        <option value="" selected>Select</option>
        <option *ngFor="let Topic of Topics" value="{{ Topic.topic }}">
          {{ Topic.topic }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 my-2" style="display: flex; justify-content: right">
      <button type="submit" class="btn btn-info" [disabled]="!form.valid">
        Retrive
      </button>
      <button type="reset" class="btn btn-info ml-2">reset</button>
    </div>
  </div>
</form>
<br />
<div class="row align-items-center">
  <div class="col-md-3">
    <span>Selected Questions : {{ selectedquestionnumber }}</span>
  </div>
  <div class="col-md-3">
    <span>Total Available Questions : {{ totalquestionsnumber }}</span>
  </div>
  <div class="col-md-2">
    <span>Used Question : {{ usedquestionsnumber }}</span>
  </div>
  <div class="col-md-2" style="display: flex;justify-content: end;align-items: center;">
    <button
      class="btn btn-info"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add New Question Paper
    </button>
  </div>
  <div class="col-md-2" style="display: flex;justify-content: end;align-items: center;">
    <button
      class="btn btn-info"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal1"
    >
      Question Paper list
    </button>
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <button
          class="btn btn-info"
          style="font-size: x-small"
          (click)="Addtopaper()"
        >
          Add to Paper
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small">Unmark</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small">
          Select all
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <!-- <table class="table table-bordered table-striped table-hover mt-4">
        <thead class="table-info">
          <th>S.no</th>
          <th>Question</th>
          <th>Select</th>
        </thead>
        <tbody>
          <tr *ngFor="let question of totalquestions | paginate: { itemsPerPage: 5, currentPage: qp };index as i">
            <td>{{i+1}}</td>
            <td (click)="selectedQuestion=question;check()" style="min-width: 120px;max-width: 120px;" class="text-wrap"><span [innerHTML]="question.text"></span>
            </td>
            <td><input type="checkbox" [(ngModel)]="question.selected" (change)="changeselquesnum()"></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-end">
          <pagination-controls (pageChange)="qp = $event"></pagination-controls>
        </div>
      </div> -->
      <p-table
        #dt
        [value]="totalquestions"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
          'question.text'
        ]"
        class="col-md-12"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>S.no</th>
          <th>Question</th>
          <th>Select</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td>
              {{ rowIndex + 1 }}
            </td>
            <td (click)="selectedQuestion=data;check()">
              <span [innerHTML]="data.text"></span>
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="data.selected" (change)="changeselquesnum()">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No questions found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center">
        <p>Question</p>
      </div>
      <div class="col-md-10 d-flex justify-content-center">
        <!-- <textarea name="" id="" cols="70" rows="10"></textarea> -->
        <div
          style="
            border-radius: 5px;
            background: #e0e0e0;
            box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
            width: 100%;
            margin-bottom: auto;
            margin-right: auto;
            min-height: 200px;
          "
        >
          <div style="width: 100%; padding: 20px">
            <ng-container *ngIf="englishselected">
              <span [innerHtml]="selectedQuestion.text"></span>
              <ng-container *ngIf="selectedQuestion.text">
                <div class="row">
                  <div class="col-md-6">
                    1. {{ selectedQuestion.choices[0].choice_text }}
                  </div>
                  <div class="col-md-6">
                    2. {{ selectedQuestion.choices[1].choice_text }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    3. {{ selectedQuestion.choices[2].choice_text }}
                  </div>
                  <div class="col-md-6">
                    4. {{ selectedQuestion.choices[3].choice_text }}
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <br />
            <ng-container *ngIf="tamilselected">
              <span [innerHtml]="selectedQuestion.text_tn"></span>
              <ng-container *ngIf="selectedQuestion.text_tn">
                <div class="row">
                  <div class="col-md-6">
                    1. {{ selectedQuestion.choices[0].choice_text_tn }}
                  </div>
                  <div class="col-md-6">
                    2. {{ selectedQuestion.choices[1].choice_text_tn }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    3. {{ selectedQuestion.choices[2].choice_text_tn }}
                  </div>
                  <div class="col-md-6">
                    4. {{ selectedQuestion.choices[3].choice_text_tn }}
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center">
        <p>Solution</p>
      </div>
      <div class="col-md-10 d-flex justify-content-center">
        <div
          style="
            border-radius: 0px 0px 5px 5px;
            background: #e0e0e0;
            box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
            width: 100%;
            margin-bottom: auto;
            margin-right: auto;
            min-height: 100px;
          "
        >
          <div style="width: 100%; padding: 20px">
            <ng-container *ngIf="englishselected">
              <ng-container *ngFor="let choice of selectedQuestion.choices">
                <ng-container *ngIf="choice.choice_correct_yn != null">
                  <span [innerHtml]="choice.choice_notes"></span>
                </ng-container>
              </ng-container>
            </ng-container>
            <br /><br />
            <ng-container *ngIf="tamilselected">
              <ng-container *ngFor="let choice of selectedQuestion.choices">
                <ng-container *ngIf="choice.choice_correct_yn != null">
                  <span [innerHtml]="choice.choice_notes_tn"></span>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <button
          class="btn btn-info"
          style="font-size: x-small"
          (click)="generatequestion_solution(choosenquestions)"
        >
          Download <br />
          Questiona & Solution
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button
          class="btn btn-info"
          style="font-size: x-small"
          (click)="generatequestion(choosenquestions)"
        >
          Download<br />Questions
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button
          class="btn btn-info"
          style="font-size: x-small"
          (click)="generatesolution(choosenquestions)"
        >
          Download<br />Solutions
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- <table class="table table-bordered table-striped table-hover mt-4">
          <thead class="table-info">
            <th>S.no</th>
            <th>Question</th>
            <th></th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let choosen of choosenquestions
                  | paginate : { itemsPerPage: 4, currentPage: qc };
                index as i
              "
            >
              <td>{{ i + 1 }}</td>
              <td style="min-width: 120px; max-width: 120px" class="text-wrap">
                <span [innerHtml]="choosen.text"></span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-end">
            <pagination-controls
              (pageChange)="qc = $event"
            ></pagination-controls>
          </div>
        </div> -->
        <p-table
        #dt
        [value]="choosenquestions"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
          'question.text'
        ]"
        class="col-md-12"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>S.no</th>
          <th>Question</th>
          <th>Select</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td>
              {{ rowIndex + 1 }}
            </td>
            <td>
              <span [innerHTML]="data.text"></span>
            </td>
            <td>
              <!-- <input type="checkbox" [(ngModel)]="data.selected" (change)="changeselquesnum()"> -->
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No questions found.</td>
          </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
<!-- createModal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fs-5" id="exampleModalLabel">
          Add Question Paper
        </h6>
        <button
          type="button"
          class="btn btn-info"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="padding: 3px"
        >
          x
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-md-4"><label>Question Paper Name</label></div>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              placeholder="Name of the Question paper"
              #name
            />
          </div>
        </div>
        <div class="container">
          <div class="row">
            <table class="table table-bordered table-striped table-hover mt-4">
              <thead class="table-info">
                <th>S.no</th>
                <th>Question</th>
                <th>Select</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let question of totalquestions
                      | paginate : { itemsPerPage: 5, currentPage: p };
                    index as i
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td
                    style="min-width: 120px; max-width: 120px"
                    class="text-wrap"
                  >
                    <span [innerHTML]="question.text"></span>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      [(ngModel)]="question.draftselected"
                      (change)="addquestion(question.id)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-end">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="savequestionpaper(name)"
          [disabled]="!name.value"
        >
          Save Question Paper
        </button>
      </div>
    </div>
  </div>
</div>
<!-- listmodal -->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fs-5" id="exampleModalLabel">
          Add Question Paper
        </h6>
        <button
          type="button"
          class="btn btn-info"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="padding: 3px"
        >
          x
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-md-4"><label>Question Paper List</label></div>
        </div>
        <div class="container">
          <div class="row">
            <table class="table table-bordered table-striped table-hover mt-4">
              <thead class="table-info">
                <th>S.no</th>
                <th>Question</th>
                <th>No of Times Used</th>
                <th>Download</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let question of draftquestionpaperlist
                      | paginate : { itemsPerPage: 5, currentPage: p };
                    index as i
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td class="text-wrap">
                    <span [innerHTML]="question.name"></span>
                  </td>
                  <td>{{ question.used }}</td>
                  <td>
                    <img
                      src="../../assets/images/edit.png"
                      alt=""
                      width="20"
                      (click)="updatequestion(question)"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal2"
                    />
                    <img
                      src="../../assets/images/word.png"
                      alt=""
                      width="25"
                      (click)="retrivequestions(question)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-end">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<!-- UpdateModal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fs-5" id="exampleModalLabel">
          Add Question Paper
        </h6>
        <button
          type="button"
          class="btn btn-info"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="padding: 3px"
        >
          x
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-md-4"><label>Edit Paper Name</label></div>
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              placeholder="Name of the Question paper"
              #editname
              [(ngModel)]="editable_question.name"
            />
          </div>
        </div>
        <div class="container">
          <div class="row">
            <table class="table table-bordered table-striped table-hover mt-4">
              <thead class="table-info">
                <th>S.no</th>
                <th>Question</th>
                <th>Select</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let question of editable_question.questions
                      | paginate : { itemsPerPage: 5, currentPage: p };
                    index as i
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td
                    style="min-width: 120px; max-width: 120px"
                    class="text-wrap"
                  >
                    <span [innerHTML]="question.text"></span>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      [(ngModel)]="question.editselected"
                      (change)="editquestion(question.id)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-end">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updatequestionpaper(editname)"
          [disabled]="!editname.value"
        >
          Update Question Paper
        </button>
      </div>
    </div>
  </div>
</div>
