.page-out{
    line-height: 2.1;
    float: left;
    width: 100%;
}
.col-md-4{
    padding: 10px 0px;
}
.q_text p{
    float: left !important;
}
.choice ol li{
    float: left;
    width: 50%;
    line-height:2.9;
}
.choice ol{
    float: left;
    width: 100%;
}
.title{
    color: #2c73ba;
    font-weight: bold;
  }
h4{
    width:auto;
}

.editimages{
    width: 15px;margin-left: 10px;transition: 0.5s ease-in;border-radius: 50%;
}
.editimages:hover{
    cursor: pointer;
    background-color:#777;
}
figure.table td {
    width: 50px !important;
    border: 1px solid black !important;
    font-size: 13px !important;
    padding: 2px !important;
    text-align: center !important;
}