<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-3">
      Type
      <select class="form-control form-control-sm dropselect" name="type" ngModel #type="ngModel"
        (change)="selectClass($event)" required>
        <option *ngFor="let Exam_type of Exam_types" value="{{Exam_type}}">{{Exam_type}}</option>
      </select>
    </div>
    <div class="col-md-3">
      Class
      <select class="form-control form-control-sm dropselect" name="class" ngModel #class="ngModel"
        (change)="selectSubject($event)" required>
        <option *ngFor="let Class of Classes" value="{{Class}}">{{Class}}</option>
      </select>
    </div>
    <div class="col-md-3">Language <br>
      <div class="row">
        <div class="col-md-6"><input type="checkbox" name="English" ngModel #English="ngModel">English </div>
        <div class="col-md-6"><input type="checkbox" name="Tamil" ngModel #Tamil="ngModel">Tamil</div>
      </div>
    </div>
    <div class="col-md-3">Subject <select class="form-control form-control-sm dropselect" name="subject"
        (change)="selectChapter($event)" ngModel #subject="ngModel" required>
        <option *ngFor="let Subject of Subjects" value="{{Subject}}">{{Subject}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Question Level
      <select class="form-control form-control-sm dropselect" name="level" ngModel #level="ngModel" required>
        <option *ngFor="let Level of Levels" value="{{Level}}">{{Level}}</option>
      </select>
    </div>
    <div class="col-md-3">
      Question Type
      <select class="form-control form-control-sm dropselect" name="qtype" ngModel #qtype="ngModel" required>
        <option *ngFor="let Question_type of Question_types" value="{{Question_type.value}}">{{Question_type.title}}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      Chapter
      <select class="form-control form-control-sm dropselect" name="chapter" ngModel #chapter="ngModel"
        (change)="selectTopic($event)" required>
        <option *ngFor="let Chapter of Chapters" value="{{Chapter.chapter}}">{{Chapter.chapter}}</option>
      </select>
    </div>
    <div class="col-md-3">
      Topic
      <select class="form-control form-control-sm dropselect" name="topic" ngModel #topic="ngModel" required>
        <option *ngFor="let Topic of Topics" value="{{Topic.topic}}">{{Topic.topic}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-0 my-2" style="display: flex;justify-content: right;">
      <button type="submit" class="btn btn-info" [disabled]="!form.valid">Retrive</button>
      <button type="reset" class="btn btn-info ml-2">reset</button>
    </div>
  </div>
</form>
<br>
<div class="row">
  <div class="col-md-4"><span>Selected Questions : {{selectedquestionnumber}}</span></div>
  <div class="col-md-4"><span>Total Available Questions : {{totalquestionsnumber}}</span></div>
  <div class="col-md-4"><span>Used Question : {{usedquestionsnumber}}</span></div>
</div>
<br><br>
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small;" (click)="Addtopaper()">Add to Paper</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small;;">Unmark</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small;">Select all</button>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered table-striped table-hover mt-4">
        <thead class="table-info">
          <th>S.no</th>
          <th>Question</th>
          <th>Select</th>
        </thead>
        <tbody>
          <tr *ngFor="let question of totalquestions;index as i">
            <td>{{i+1}}</td>
            <td (click)="selectedQuestion=question" style="min-width: 120px;max-width: 120px;" class="text-wrap"><span [innerHTML]="question.text"></span>
            </td>
            <td><input type="checkbox" [(ngModel)]="question.selected" (change)="changeselquesnum()"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center">
        <p>Question</p>
      </div>
      <div class="col-md-10 d-flex justify-content-center">
        <!-- <textarea name="" id="" cols="70" rows="10"></textarea> -->
        <div style="border: 1px solid black;width:100%;margin-bottom:  auto;margin-right: auto;min-height: 200px;">
          <div style="width: 100%;">
            <ng-container *ngIf="englishselected">
              <span [innerHtml]="selectedQuestion.text"></span>
              <ng-container *ngIf="selectedQuestion.text">
                <div class="row">
                  <div class="col-md-6">1. {{selectedQuestion.choices[0].choice_text}}</div>
                  <div class="col-md-6">2. {{selectedQuestion.choices[1].choice_text}}</div>
                </div>
                <div class="row">
                  <div class="col-md-6">3. {{selectedQuestion.choices[2].choice_text}}</div>
                  <div class="col-md-6">4. {{selectedQuestion.choices[3].choice_text}}</div>
                </div>
              </ng-container>
            </ng-container>
            <br>
            <ng-container *ngIf="tamilselected">
              <span [innerHtml]="selectedQuestion.text_tn"></span>
              <ng-container *ngIf="selectedQuestion.text_tn">
                <div class="row">
                  <div class="col-md-6">1. {{selectedQuestion.choices[0].choice_text_tn}}</div>
                  <div class="col-md-6">2. {{selectedQuestion.choices[1].choice_text_tn}}</div>
                </div>
                <div class="row">
                  <div class="col-md-6">3. {{selectedQuestion.choices[2].choice_text_tn}}</div>
                  <div class="col-md-6">4. {{selectedQuestion.choices[3].choice_text_tn}}</div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center">
        <p>Solution</p>
      </div>
      <div class="col-md-10 d-flex justify-content-center">
        <div style="border: 1px solid black;width:100%;margin-bottom:  auto;margin-right: auto;min-height: 100px;">
          <div style="width: 100%;">
            <ng-container *ngIf="englishselected">
              <ng-container *ngFor="let choice of selectedQuestion.choices">
                <ng-container *ngIf="choice.choice_correct_yn!=null">
                  <span [innerHtml]="choice.choice_notes"></span>
                </ng-container>
              </ng-container>
            </ng-container>
            <br><br>
            <ng-container *ngIf="tamilselected">
              <ng-container *ngFor="let choice of selectedQuestion.choices">
                <ng-container *ngIf="choice.choice_correct_yn!=null">
                  <span [innerHtml]="choice.choice_notes_tn"></span>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small;">Show Summary</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small;;">Generate Question Paper</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button class="btn btn-info" style="font-size: x-small;" (click)="generateWordDocument(choosenquestions)">Save Paper</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover mt-4">
          <thead class="table-info">
            <th>S.no</th>
            <th>Question</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let choosen of choosenquestions;index as i">
              <td>{{i+1}}</td>
              <td style="min-width: 120px;max-width: 120px;" class="text-wrap"><span [innerHtml]="choosen.text"></span></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>