/* .col-md-3 {
    max-width: 20% !important;
} */
/* h6{
    color:#E1B941;
    font-size: 30px;
}
h5{
    color: #4169E1;
} */

.box {
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px #777;
  cursor: pointer;
}
.heading {
  color: #df2b6e;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 1rem;
  font-family: "Poppins";
}
.count {
  color: #27408b;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
  font-family: "Poppins";
}
.content {
  font-family: "mulish";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1rem;
}
.chart-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.charts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-muted {
  font-family: "mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.fw-bold {
  line-height: 1.5;
  color: #212529;
  font-weight: 700;
}
.img {
  width: 50px;
  margin-left: 1rem;
}
.dte {
  color: #6c757d;
  height: 38px;
  width: 80%;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
}
.text-stl {
  margin-top: -30px;
}
/* admin */
table {
  border-collapse: collapse; /* Ensures the borders are not doubled */
  width: 100%; /* Optional: sets the table width to 100% of the parent container */
}
.col-md-1{
  margin: 0;
  padding: 0;
}
/* table,
th,
td {
  border: 1px solid black;
} */
th,
td {
  /* Optional: adds padding inside table cells */
  text-align: center; /* Optional: aligns text to the left */
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}
li {
  border-bottom: 1px solid black;
  list-style: none;
}
li:last-child {
  border-bottom: none;
}
ul {
  padding: 5px;
  margin: 0;
}
