<div class="container">
    <div class="login-inner">
        <div><img src="./assets/images/logo.png" width="20%"/></div>
     
     <div class="outer">  <h3>Forgot Password ?</h3>
 
     <form #forgotForm="ngForm" autocomplete="off" (ngSubmit)="Submit(forgotForm)">
       <div class="col-md-12 px-2 mb-4"> 
         <input type="email" name="email"  class="form-control p-2" placeholder="Email *" 
         [(ngModel)]="forgotPassword.email" #email="ngModel" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required />
         <div *ngIf="forgotForm.submitted && email.errors?.['required']" class="in-valid">Email is required</div>
        <div *ngIf="email.hasError('pattern')" class="in-valid">Please Enter Valid Email</div>
        </div>
 
       <div class="col-md-12 mt-3">
         <a  class="forgot" routerLink="../login">Back to Login?</a>
         <button type="submit" name="submit" class="login-button rounded-3">Send Link</button>
       </div>
 
     </form>
    </div> 
   </div>
 </div>